/* COLORS */
body {
    --primary: #2196f3;
    --primary-light:#6ec6ff;
    --primary-dark: #0069c0;

    --secondary: #64DD17;
    --secondary-light: #9cff57;
    --secondary-dark: #1faa00;

    --gray-dark: #E0E0E0;
    --gray: #F5F5F5;
    --gray-light: #FAFAFA;
    --white: #FFFFFF;

    --primary-text: rgba(0, 0, 0, 0.87);
    --secondary-text: rgba(0, 0, 0, 0.54);
    --disabled-text: rgba(0, 0, 0, 0.38);
    --divider: rgba(0, 0, 0, 0.12);

    --primary-light-text: rgba(255, 255, 255, 1);
    --secondary-light-text: rgba(255, 255, 255, 0.7);
    --disabled-light-text: rgba(255, 255, 255, 0.5);
    --divider-light-text: rgba(255, 255, 255, 0.12);

    --elevation-2: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    --elevation-4: 0 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    --elevation-8: 0 8px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
/***********************
Normalize
************************/
html, body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

button {
    border:none;
    outline:none;
}

body {
    background-color: var(--gray-light);
    color: var(--primary-text);
}

/***********************
/Normalize
************************/

/***********************
Global
************************/

.main {
    max-width: 700px;
    margin: 0 auto;
}

input {
    margin:0 auto 20px;
    width:100%;
    padding: 8px 10px;
    color: var(--primary-text);
    border: 2px solid var(--disabled-text);
    font-size: 16px;
    transition: color,border 0.2s;
    outline: none;
}

input::-webkit-input-placeholder {
    color: var(--secondary-text);
}

input:hover {
    border: 2px solid var(--primary-text);
}

input:focus {
    border: 2px solid var(--primary);
}

button {
    background-color: var(--primary);
    color: var(--primary-light-text);
    box-shadow: var(--elevation-2);
    font-family: Roboto, sans-serif;
    transition: box-shadow 0.2s;
    border-radius: 2px;
    font-size:14px;
    height: 36px;
    min-width: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-dark);
}
button:active,
button:focus{
    background-color: var(--primary-dark);
    box-shadow: var(--elevation-8);
}

a {
    color: var(--primary-dark);
}
a:hover {
    color: var(--primary);
}

.avatar {
    width: 36px;
    height: 36px;
    margin: 0 12px;
    border: 1px solid var(--secondary-text);
    border-radius: 50%;
}

/***********************
/Global
************************/


/***********************
Login Page
************************/

.login .container {
    max-width:480px;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: var(--white);
    box-shadow: var(--elevation-2);
}

.login .container:hover,
.login .container:active,
.login .container:focus{
    box-shadow: var(--elevation-8);
}

@media screen and (min-width: 480px){
    .login .container {
        margin-top: 20px;
    }
}

.login .heading {
    text-align: center;
    font-family: sans-serif;
    padding:10px;
}

.login .heading h2 {
    font-weight: 500;
}

.login .signin {
    margin:0 auto 20px;
    max-width: 320px;
    padding: 0 20px;
}

.login .or {
    text-align: center;
    margin-bottom: 5px;
    color: var(--secondary-text);
}

.login .signup-link {
    text-align: center;
}

/***********************
/Login Page
************************/

/***********************
Header
************************/

body:not(.login) {
    padding-top: 56px;
}

.header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2;
    box-shadow: var(--elevation-4);
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    height: 56px;
}

.header .icon {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 12px;
}

.header .icon img{
    width: 36px;
    height: 36px;
}

.header .logo img {
    border: 2px solid var(--primary-text);
    border-radius: 50%;
    box-shadow: var(--elevation-2);
    transition: box-shadow 0.2s;
}

.header .logo:hover img,
.header .logo:active img,
.header .logo:focus img, {
    box-shadow: var(--elevation-8);
}

.header .nav-links .nav-link {
    display: none;
    color: var(--primary-light-text);
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.header .nav-links .nav-link.active {
    padding-bottom: 6px;
    border-bottom: 2px solid var(--secondary);
}

@media screen and (min-width: 480px) {
    .header .nav-links .nav-link {
        display: inline;
    }
    .header .nav-links .home-icon {
        display: none;
    }
}

.header .right-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .search-input {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    color: var(--primary-text);
    font-size: 16px;
    height: 36px;
    transition: background-color 0.2s;
}

.header .search-input input {
    border: none;
    display: none;
    margin-bottom: 0;
}

.header .search-icon {
    padding: 0 6px;
}

.header .search-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header .search-input .search-icon #search-icon-black {
    display: none;
}

.header .search-input .search-icon #search-icon-close {
    display: none;
}


@media screen and (min-width: 640px) {
    .header .search-input {
        border: 2px solid var(--disabled-text);
        background-color: var(--white);
    }

    .header .search-input input {
        display: inline;
    }

    .header .search-input .search-icon #search-icon-white {
        display: none;
    }

    .header .search-input .search-icon #search-icon-black {
        display: inline;
    }
}

@media screen and (max-width: 640px) {
    /*
    To trigger use:
    document.getElementById('header').classList.add('display-search')
    */
    .header.display-search .right-icons {
        width: 100%;
    }
    .header.display-search .home-icon,
    .header.display-search .profile-icon {
        display: none;
    }
    .header.display-search .search-input {
        border: 2px solid var(--disabled-text);
        background-color: var(--white);
        height: 50px;
    }
    .header.display-search .search-input input {
        display: inline;
    }

    .header.display-search .search-input .search-icon #search-icon-white {
        display: none;
    }

    .header.display-search .search-input .search-icon #search-icon-close {
        display: inline;
    }
}

.header .profile-links .profile-expandable {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


.header .profile-links .profile-expandable #profile-overlay {
    height: 100%;
    width: 100%;
    z-index: 3;    
}

.header .profile-links .profile-expandable .profile-expanded {
    position: fixed;
    right: 10px;
    top: 8px;
    background-color: var(--primary-dark);
    z-index: 4;
    padding-bottom: 16px;
    box-shadow: var(--elevation-8);
}

.header .profile-links .profile-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 56px;
    padding-right: 16px;
}

.header .profile-links .profile-info span {
    font-size: 16px;
    color: var(--primary-light-text);
 }

 .header .profile-links .profile-actions > a {
     height: 36px;
     padding: 0 12px;
     border-bottom: 1px solid var(--secondary-light);
     color: var(--primary-light-text);
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-decoration: none;
 }

 .header .profile-links .profile-actions:first-of-type {
     border-top: 1px solid var(--secondary-light);
 }

.header.display-profile .profile-links .profile-expandable {
    display: block;
}

/***********************
/Header
************************/

/***********************
Home Page
************************/

/* New Post Input */
.home .post-new {
    border: 1px solid var(--divider);
    background-color: var(--white);
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home .post-new .post-input {
    display: flex;
    align-items: center;
    margin:0 auto 10px;
    width:100%;
    color: var(--primary-text);
    border: 2px solid var(--disabled-text);
    font-size: 16px;
    transition: color,border 0.2s;
}

@media screen and (min-width: 480px) {
    .home .post-new {
        flex-direction: row;
    }
    .home .post-new .post-button {
        margin-left: 20px;
        margin-right: 10px;
    }
}

.home .post-new .post-input input {
    margin-bottom: 0;
    margin:0;
    border:none;
}

.home .post-new .post-input .photo-camera-icon {
    /*position: fixed;*/
    /*right: 0;*/
    /*display: none;*/
    transform: translateX(-10px);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Post */

.post {
    border: 1px solid var(--divider);
    background-color: var(--white);
}

.post .post-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 56px;
}

.post .post-user .user-info {
    display: flex;
    flex-direction: column;
}

.post .post-user .user-info .user-name {
    font-size: 16px;
    color: var(--primary-text);
}

.post .post-user .user-info .user-time {
    font-size: 14px;
    color: var(--secondary-text);
}

.post .post-content {
    margin: 0px 12px;
}

.post .post-content .content-text {
    font-size: 14px;
    color: var(--primary-text);
    margin-bottom: 12px; 
    display: block;
}

.post .post-content .content-image img {
    width: 100%;
    margin-bottom: 12px;
    min-height: 60px;
}
/***********************
/Home Page
************************/

/***********************
User Page
************************/
.user .profile-info .pic img{
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: -56px;
}

.user .profile-info .user-info-container {
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user .profile-info {
    display: flex;
    flex-direction: column;
}

.user .profile-info .user-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--disabled-light-text);
    
}

.user .profile-info .user-info .user-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.user .user-info .user-details .user-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-text);
}

.user .user-info .user-details .user-friendship {
    font-size: 14px;
    color: var(--secondary-text);
}

.user .profile-info .user-info .user-actions {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.user .profile-info .user-info .user-actions button {
    min-width: 0;
    margin:0 10px;
}
.user .profile-info .user-info .user-actions button img{
    width: 24px;
    height: 24px;
}

.user .profile-info .user-info-hidden {
    display: none;
    margin-bottom: 10px;
}

.user .profile-info.user-details-show .user-info-hidden {
    display: block;
}

.user .profile-info .user-info-hidden .info {
    display: flex;
    flex-direction: column;
    padding: 10px 12px;
    background-color: var(--primary-light-text);
    border: 1px solid var(--divider);
}

.user .profile-info .user-info-hidden .info p {
    margin: 0;
}

.user .profile-info .user-info-hidden .info .field {
    font-size: 16px;
    color: var(--primary-text);
    margin-bottom: 4px;
}

.user .profile-info .user-info-hidden .info .value {
    font-size: 14px;
    color: var(--secondary-text);
}

.user .profile-info .user-info-hidden .friends-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user .profile-info .user-info-hidden .friends-list .friends-images {
    display: flex;
    overflow-x: hidden;
}

.user .profile-info .user-info-hidden .friends-list .friends-images img {
    margin: 0 4px;
}


.user .profile-info .user-actions-hidden {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 12px;
    background-color: var(--primary-light-text);
    border: 1px solid var(--divider);
}

.user .profile-info .user-actions-hidden button {
    margin: 0 10px;
}

@media screen and (min-width: 400px) {
    .user .profile-info {
        flex-direction: row;
        width:400px;
        margin: 0 auto 20px;
    }

    .user .profile-info .pic{
        margin-bottom: 0;
        width: 114px;
    }

    .user .profile-info .user-info {
        background-color: var(--primary-light-text);
    }

    .user .profile-info .user-info .user-actions {
        display: none;
    }

    .user .user-container {
        width: 286px;
    }
    .user .profile-info .user-info-hidden {
        margin-bottom: 0;
        width: 400px;
        transform: translateX(-114px);
    }
}


@media screen and (min-width: 520px) {
    .user .profile-info {
        width: 500px;
    }
    .user .profile-info .pic{
        width: 190px;
    }

    .user .user-container {
        width: 310px;
    }

    .user .profile-info .user-info-hidden {
        display: block;
        width: initial;
        transform: initial;
    }

    .user .profile-info .user-info-hidden .bio,
    .user .profile-info .user-info-hidden .friends {
        display: none;
    }
    
    .user .profile-info.user-details-show .user-info-hidden .bio,
    .user .profile-info.user-details-show .user-info-hidden .friends {
        display: block;
        width: 474px;
        transform: translateX(-190px);
    }
    
}

@media screen and (min-width: 640px) {
    .user .profile-info {
        width: 620px;
    }
    .user .profile-info .pic{
        width: 250px;
    }

    .user .user-container {
        width: 370px;
    }

    .user .profile-info .user-info-hidden .bio {
        display: block;
    }

    .user .profile-info.user-details-show .user-info-hidden .bio {
        width: initial;
        transform: initial;
    } 
}

@media screen and (min-width: 800px) {
    .user.main {
        min-width: 780px;
    }
    .user .profile-info {
        width: 780px;
    }
    .user .profile-info .pic{
        width: 332px;
    }

    .user .user-container {
        width: 448px;
    }

    .user .profile-info .user-info-hidden .friends {
        display: block;
    }
}


/***********************
/User Page
************************/


/***********************
Messages Page
************************/

.messages .receipents-search input {
    margin-bottom: 0;
    font-size: 16px;
    padding: 12px 10px;
}

.messages .receipents-item {
    background-color: var(--primary-light-text);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--divider);
}

.messages .receipents-item .receipents-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.messages .receipents-header .user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messages .receipents-header .user-info span {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-text);
}

.messages .receipents-header .user-time {
    margin-right: 12px;
    color: var(--secondary-text);
}

.messages .receipents-body {
    padding: 4px 12px 12px;
    font-size: 18px;
    color: var(--secondary-text);
}

/***********************
/Messages Page
************************/


/***********************
Message Page
************************/

.message.main {
    height: 100%;
    max-width: 800px;
    box-shadow: var(--elevation-2);
}

.message .user-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 64px;
    flex-direction: row;
    background-color: var(--primary-light-text);
    border-bottom: 2px solid var(--primary-text);
    position: fixed;
    width: 100%;
    max-width: 800px;
}

.message .user-details .avatar {
    height: 48px;
    width: 48px;
}


.message .user-details .user-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.message .user-details .user-name {
    font-size: 18px;
    color: var(--primary-text);
    font-weight: bold;
}
.message .user-details .user-friendship {
    font-size: 16px;
    color: var(--secondary-text);
}

.message .messages-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    padding: 78px 0 70px;
}

.messages-list .message .text-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.messages-list .message .message-text {
    background-color: var(--white);
    border: 1px solid var(--primary-text);
    padding: 8px 12px;
    max-width: 200px;
}

@media screen and (min-width: 480px) {
    .messages-list .message .message-text {
        max-width: 300px;   
    }
}

@media screen and (min-width: 640px) {
    .messages-list .message .message-text {
        max-width: 400px;   
    }
}

.messages-list .message .message-time {
    font-size: 14px;
    color: var(--secondary-text);
    margin-top: 4px;
}

.messages-list .message.left .message-time {
    align-self: flex-start;
}
.messages-list .message.right .message-time {
    align-self: flex-end;
}

.messages-list .message.left {
    align-self: flex-start;
}
.messages-list .message.right {
    align-self: flex-end;
}

.messages-list .message.left .avatar {
    float: left;
}
.messages-list .message.right .avatar {
    float: right;
}

.message .message-input {
    display: flex;
    height: 56px;
    border-top: 2px solid var(--primary-text);
    width: 100%;
    position: fixed;
    width: 100%;
    bottom:0;
    max-width: 800px;
}

.message .message-input input{
    height: 100%;
    border: none;
    margin-bottom: 0;
}

.message .message-input button {
    min-width: 56px;
    height: 100%;
}

/***********************
/Message Page
************************/

/***********************
Friends Page
************************/
.friends.main {
    box-shadow: var(--elevation-2);
}
.friends .user-info {
    height: 64px;
    background-color: var(--primary-light-text);
    border-bottom: 1px solid var(--secondary-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}

.friends .user-info .user-name {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-text);
}

.friends .user-info .user-friends-key {
    font-size: 16px;
    color: var(--secondary-text);
}

.friends .friends-list .friend-item {
    height: 48px;
    background-color: var(--primary-light-text);
    border-bottom: 1px solid var(--divider);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.friends .friend-item .friend-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.friends .friend-item .friend-info .avatar {
    width: 24px;
    height: 24px;
}

.friends .friend-item .friend-info .user-name {
    color: var(--primary-text);
}

.friends .friend-item .friend-actions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.friends .friend-item .friend-actions button {
    min-width: 48px;
    margin: 0 8px;
}

.friends .friend-item .friend-actions button img{
    width: 24px;
    height: 24px;
}


/***********************
/Friends Page
************************/


/***********************
Post Page
************************/

.post-page.main {
    max-width: 800px;
    box-shadow: var(--elevation-2);
    padding-bottom: 70px;
}


.post-page.main .post {
    border-bottom: 2px solid var(--secondary-text);
}

.post-page .comment-new {
    display: flex;
    height: 56px;
    border-top: 2px solid var(--primary-text);
    width: 100%;
    position: fixed;
    width: 100%;
    bottom:0;
    max-width: 800px;
}

.post-page .comment-new input {
    height: 100%;
    border: none;
    margin-bottom: 0;
}

.post-page .comment-new button {
    min-width: 56px;
    height: 100%;
}