<html>
<head>
    <title>
        Socialbook | Forgot
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css" type="text/css"/>
</head>
<body class="login">
<div class="container">
    <div class="heading">
        <h2>Forgot Password</h2>
    </div>
    <form class="signin" method="get" action="forgot.html">
        <div class="input">
            <input id="username"
                   type="text"
                   placeholder="Username or Email address"
                   name="username"/>
        </div>
        <div class="button">
            <button onclick="alert('Please check your email')">Send me a mail</button>
        </div>
    </form>
    <div class="or">
        <span>or</span>
    </div>
    <div class="signup-link">
        <a href="login.html">Click here to login</a>
    </div>
</div>
</body>
</html>